* {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Background Video */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Center Calculator */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator Box */
.calculator {
    padding: 15px;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px #000;
    border: 2px solid rgb(166, 114, 114);
    border-radius: 15px;
}

/* Display */
.display input {
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

/* Buttons */
button {
    width: 70px;
    height: 70px;
    margin: 10px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border: 0;
    border-radius: 17%;
    box-shadow: -10px -10px 15px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}

button:active {
    background: #000;
}

/* Operator Buttons */
.opr {
    color: #fbff00;
}

/* Equal Button */
#eqBtn {
    background: orangered;
    font-weight: 900;
}
